<%- include('../partials/header') %>
    <h1>New Todo</h1>
    <form action="/clucks" method="POST">
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <input type="url" name="imageUrl" id="" placeholder="put a image url here">
      
        <input type="submit" value="Submit">
    </form>  
<%- include('../partials/footer') %>